**/__pycache__
*.pyc
*.pyo
documentation/_build
build
dist
*.egg-info

# Test and coverage
.pytest_cache
.coverage
coverage.xml
htmlcov/

# IDEs and editors
.idea
.vscode

# Virtual environments
venv
.venv

# Misc
xxx*
.DS_Store
